name: ci-contracts-build-binaries

on:
  workflow_dispatch:

env:
  NETWORK: mainnet

jobs:
  publish-nym-contracts:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-20.04-16-core]
    runs-on: ${{ matrix.platform }}

    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies (Linux)
        run: sudo apt-get update && sudo apt-get -y install ripgrep libwebkit2gtk-4.0-dev build-essential curl wget libssl-dev libgtk-3-dev libudev-dev squashfs-tools
        continue-on-error: true

      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          repository: nymtech/nym
          ref: feature/wg-metrics

      - name: Prepare build output directory
        shell: bash
        env:
          OUTPUT_DIR: ci-contract-builds/${{ github.ref_name }}
        run: |
          rm -rf ci-contract-builds || true
          mkdir -p $OUTPUT_DIR
          echo $OUTPUT_DIR
      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          target: wasm32-unknown-unknown
          override: true

      - name: Install wasm-opt
        uses: ./.github/actions/install-wasm-opt
        with:
          version: '114'

      - name: Install cosmwasm-check
        run: cargo install cosmwasm-check

      - name: Build release contracts
        run: make contracts

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          path: |
            contracts/target/wasm32-unknown-unknown/release/mixnet_contract.wasm
            contracts/target/wasm32-unknown-unknown/release/vesting_contract.wasm
            contracts/target/wasm32-unknown-unknown/release/nym_coconut_dkg.wasm
            contracts/target/wasm32-unknown-unknown/release/cw3_flex_multisig.wasm
            contracts/target/wasm32-unknown-unknown/release/cw4_group.wasm
            contracts/target/wasm32-unknown-unknown/release/nym_ecash.wasm
            contracts/target/wasm32-unknown-unknown/release/nym_pool_contract.wasm
          retention-days: 30
