name: Test Create attestation.json


on:
  workflow_dispatch:

jobs: 
    create-attestation:
        strategy:
            fail-fast: false
            matrix:
                platform: [ubuntu-20.04-16-core]
        runs-on: ${{ matrix.platform }}
        steps:
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'

            - name: Install action-specific dependencies
              run: pip install -r .github/actions/generate-attestation/requirements.txt

            - name: Generate the signed Attestation
              env:
                ATTESTER_PRIVATE_KEY: ${{ secrets.TEST_SECRET }}
              run: python .github/actions/generate-attestation/attestation_gen.py

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: output-files
                  path: output/attestation.json

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v6
              with:
                commit-message: "enable upgrade mode"
                branch: ci/publish-upgrade-mode-attestation
                title: "Publish new Upgrade Mode Attestation"
                body: |
                    This PR attempts to publush **attestation.json** with the upgrade mode content.
                add-paths: |
                    src/public/test.txt